body {
    background-image: url("../images/morocco-blue.png");
}

div {
    background-color: white;
    margin: 10px;
    width:30%;
    border: solid 2px red;
    padding: 10px;
}

h1 {
    font-size: 30pt;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 15pt;
    text-align: center;
    font-weight: bold;
}

.header {
    width: 50%;
}

.instructions {
    width: 50%;
}

#computerNumber {
    float: left;
    width: 15%;
    height: 60px;
}

.winsAndLosses {
    float: left;
    width: 15%;
    height: 60px;
    margin-top: -5px;
    margin-bottom: 30px;

}

.crystals {
    clear: both;

}

.userTotal {
    width: 30%;
    height: 60px;
    font-size: 25px;
}

#randomNumber {
    font-weight: bold;
    font-size: 25px;
}